body {
    font-family: 'Poppins', sans-serif;
}
  
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    padding: 10px;
}

.title {
    margin-top: 36px;
    font-size: 64px;
    color: #454C77;
    margin-bottom: 30px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    font-family: 'Rowdies', sans-serif;
}
  
.login-box {
    max-width: 480px; 
    height: 100%;
    background-color: #E5CAB7;
    padding: 10px 40px 24px;
    border-radius: 30px;
    border: 6.5px solid #9D6E49;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}
  
.welcome-text {
    color: #9D6E49;
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 4px;
}
  
.subtext{
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 21px;
}
  
.input-group {
    display: flex;
    align-items: center;
    background-color: #F4E2D4;
    border: 6px solid #C49D81; 
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 10px 15px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}
  
.username-input {
    flex: 1;
    border: none;
    background-color: transparent;
    font-size: 24px;
    margin-left: 15px;
    color: #9D6E49;
    outline: none;
}
  
.username-input::placeholder {
    color: #C49D81; 
    font-weight: bold;
}
  
.password-input {
    flex: 1;
    border: none;
    background-color: transparent;
    font-size: 24px;
    margin-left: 15px;
    color: #9D6E49;
    outline: none;
}
  
.password-input::placeholder {
    color: #C49D81; 
    font-weight: bold;
}
  
.input-group:hover {
    border-color: #b9825b;
}
  
.input-group:focus-within {
    border-color: #82461A;
}
  
.divider{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6px 0;
    font-size: 1.3rem;
    font-weight: bold;
    color: #9D6E49;
}
  
.divider::before,
.divider::after {
    content: "";
    flex: 1;
    height: 1px;
    background-color: #9D6E49;
    margin: 0 10px;
}
  